
/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header-top,
	.top-nav {
		display: flex;
	}
	.header-top {
		flex-direction: column;
		align-items: center;
    	.header-top{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}

@media (min-width: 1025px) {
	.header-top {
		flex-direction: row;
		justify-content: space-between;
	}

}