ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  
  h2,
  h3,
  a {
      color: #34495e;
  }
  
  a {
      text-decoration: none;
  }
  
  
  
  .logo {
      margin: 0;
      font-size: 1.45em;
  }
  
  .top-nav {
      margin-top: 5px;
  
  }
  .logo a,
  .top-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
  }
  
  .top-nav a {
      color: #34495e;
      font-size: .99em;
  }
  
  .top-nav a:hover {
      color: #718daa;
  }
  
  
  
  .header-top {
      /* padding-top: .5em;
      padding-bottom: .5em; */
      border: 1px solid #a2a2a2;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 15px 0;
  }
  


  /* Carousel */
.carousel-item > img{
    height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}